.testCalculator {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: blue 1px solid;
}

.buttonBlock button {
    height: 40px;
    width: 40px;
    margin: 20px;
}

.testCalculator .inputBlocks .inputBlock label {
    display: block;
}

.testCalculator .inputBlocks .inputBlock {
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}